a {
  text-decoration: none;
  color: #4472b5;
}

:root {
  --nav-primary: #3f72b6;
}

.bg-nav-primary {
  background: var(--nav-primary);
}

.logo-size {
  width: 140px;
}

.home-card {
  height: 90vh;
}

.screen-view-dot {
  background: #9b9b9b;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0;
  margin-right: 7px;
  margin-top: -4px;
}

.card {
  border-radius: 0;
  box-shadow: -3px 4px 25px -14px #000;
  width: 100%;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}

.card-title {
  padding-top: 35px;
  color: #9b9b9b;
  font-weight: 600;
}

.padding-right-none {
  padding-right: 0;
}

.padding-left-none {
  padding-left: 0;
}

<<<<<<< Updated upstream
=======
.wallet-icon {
  font-size: 40px;
  color: var(--nav-primary);
  margin-top: -9px;
  margin-left: -5px;
}

>>>>>>> Stashed changes
input {
  margin-top: 0 !important;
}

.invalid-feedback {
  position: relative;
  margin-left: 15px;
}

.h-100 {
  height: 100px !important;
}

.ml-btn-action {
  margin-left: 10px;
  font-weight: 900;
}

.btn-use {
  background: var(--nav-primary);
  color: #fff;
  padding: 10px;
  outline: none;
  border: 0;
  box-shadow: none;
}

.btn-use:hover {
  color: #fff;
}

.tf-image {
  width: 100%;
  height: 100%;
}

.input-spinner {
  position: absolute;
  top: 41.7%;
  width: 20px;
  height: 20px;
  right: 2.5%;
  color: #3f72b6;
}

.p-relative {
  position: relative;
<<<<<<< Updated upstream
=======
}

.unlocked {
  font-size: 40px;
  color: var(--nav-primary);
  margin-top: -20px;
  margin-left: -5px;
}

.locked {
  font-size: 40px;
  color: var(--nav-primary);
  margin-top: -18px;
  margin-left: -5px;
>>>>>>> Stashed changes
}